.right__sidebar {
  .footer {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 80px 32px 21px 32px;

    .footer__text {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #7e7e82;
      opacity: 0.72;
    }

    .footer__develop {
      width: 218px;
    }

    .footer__privacy:hover {
      cursor: pointer;
    }

    .footer__info {
      width: 330px;
      text-align: right;
    }
  }
  @media (max-width: 768px) {
    .footer {
      margin: 80px 24px 25px 24px;

      .footer__info {
        width: 213px;
      }
    }
  }

  @media (max-width: 320px) {
    .footer {
      flex-direction: column;
      gap: 16px;
      margin: 0;
      margin-top: 60px;
      margin-bottom: 19px;
      width: 100%;
      text-align: center;

      .footer__develop {
        width: 100%;
      }

      .footer__privacy {
        width: 100%;
      }

      .footer__info {
        width: 100%;
        text-align: center;
      }
    }
  }
}
