.right__sidebar {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'TT Lakes Bold', sans-serif;
    color: #1b1c21;
  }

  a,
  p {
    font-family: 'TT Lakes Regular', sans-serif;
    font-size: 14px;
    color: #1b1c21;
  }

  @media (max-width: 768px) {
    .right__sidebar {
      width: 100%;
    }
  }

  @media (max-width: 320px) {
    .right__sidebar {
      width: 100%;
    }
  }
}
